{{#if main}}
    <div class="login-user">
        <div class="login-card">
            <div class="login-brand">
                <img src="../../images/gmu_logo.jpg" alt="Mason Dash" />
                <h1>Mason<span>Dash</span></h1>
                <p>George Mason University Student Portal</p>
            </div>
            <div class="login-form">
                <h2>Welcome Back</h2>
                <p class="login-subtitle">Sign in to access your dashboard</p>
                <input
                    class="login-name"
                    type="password"
                    placeholder="Enter your GNumber"
                />
                <button class="login-button">Sign In</button>
            </div>
        </div>
    </div>
{{/if}}